@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400&family=Roboto:wght@300&display=swap');

*{
font-family: 'Roboto', sans-serif;
}

div{
    border-radius: 10;
    padding:10px;
    /* width: 300px; */
}

.fondoAzul{
    background-color: blue;
}

#botones{
    width: 70%;
    display: flex;
    left: 0;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-between; 
}

#botones >div{
    border: solid green;
    color:green;
    border-radius: 20px;
    width: 30%;
    justify-items: center;
    text-align: center;
    text-justify: center;
    max-width: 200px;
    height: 100px;
    margin-top: 50px;
}

#botones div:hover{
    border: none;
background-color: green;
color: white;
}

#mensaje{
    text-align: center;
    font-size: 30px;
    
}
#credito,span{
    text-align: center;
    font-size: 30px;
}

#apuestas{
    
   position:absolute;
    right: 0px;
    width: 20%;
    top: 150px;
    height: 100%;
    border-left: 3px solid orange;
    background-color: rgba(221, 190, 17, 0.671);
}
#apuestas div:hover{
   
    background-color: rgba(221, 190, 17, 0.9);
}


#titleApuestas{
    display: inline-block;
    color: orange;
    position: absolute;
    top: 70px;
    width: 20%;
    right: 0px;
}


.swal2-container{
     width: 100% !important; 
     font-size: small;
}

.swal2-popup {
    font-size: 0.8rem !important;
    font-family: Georgia, serif;
  }

  #iconoBorrar{
     
      right: 0px;
  }


#pokemones  div{
    width: 100px;
    border: solid black;
    border-radius: 10px;
    margin: 10px;
}

#pokemones  div:hover{
   background-color: rgb(7, 156, 94);

  
    
}
#pokemones{
   
    display:flex;
    
}